  <ul id="menu">
    {{#each controller}}
    <li>
      <a href="#" {{action "addFood" this}}>
        <img {{ bindAttr src="imageUrl" }}>
        <p>{{ name }}</p>
      </a>
    </li>
    {{/each}}
  </ul>