  <ul id="customer-tab">
    {{#each tabItem in tabItems}}
    <li><h3>{{tabItem.food.name}} <span>${{money tabItem.cents}}</span></h3></li>
    {{else}}
    <li><h3>Click a food to add it</h3></li>
    {{/each}}
    <li id="total"><h3>Total <span>${{money cents}}</span></h3></li>
  </ul>