  <div class="row">
    <div class="three columns">
      {{ render "food" }}
    </div>
    <div class="nine columns">
      <h2>Table <span>{{ id }}</span></h2>
      {{ render "tab" tab }}
    </div>
  </div>